<h1>Edit Company</h1>

<%= form_with model: @company do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>